@tailwind base;
@tailwind components;
@tailwind utilities;

.chat::-webkit-scrollbar {
    width: .5em;
}
.chat::-webkit-scrollbar-thumb {
    background-color: rgb(20, 20, 20);
    border-radius: 5rem;
}